.docsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.docsList {
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    min-width: 150px;
}

@media (prefers-color-scheme: light) {
    .docsList {
        background-color: #eee;
    }
}


.docsList li {
    margin-bottom: 15px;
}

.docsList a {
    text-decoration: none;
    color: #007bff;
}

.docsList a:hover {
    text-decoration: underline;
}

.docsListSelectedItem {
    font-weight: bold;
}

.navigationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.navigationButtons button {
    border: #5050ff solid 1px;
}
